body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    font-style: serif;
    padding: 0;
    line-height: 1.5;
    text-size-adjust:auto;
    background-color: #EEEBC4;
    font-size: 23px;
    box-sizing: border-box;
}

body h1{
    color:white;
    text-shadow: white;
}

body h1:hover{
    color:blue;
    text-shadow: white;
}

header{
    
    color: white;
    padding: 1rem;
    text-align: center;
    background: black;
    background-image:url("monsite.png") ;
    background-repeat: no-repeat;
    background-position:center ;
}
nav ul{
    list-style-type:none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 1rem;
}

nav ul li :hover{
    display: inline;
    margin: 0 1rem;
    color: blue;
}
nav ul li a{
    color: aqua;
    text-decoration: none;
    font-size: large;
    font-size: larger;
    text-decoration:solid ;
    font-weight: bolder;
    border: green;
    border-radius: 0%;

}

section{
    padding: 2rem;
    margin: 1rem 0;
}
#contact{
    background-color:skyblue ;
    background-position: center;
    font-weight: bold;
    background-repeat: no-repeat;
}
 section h2{
font-weight:bolder ;
text-decoration: underline;
}

form{
    display:flex;
    flex-direction: column;
}

form label{
    margin-top: 1rem;
}

form textarea{
    padding: 0.5rem;
    margin-top: 0.5rem;
    width:100%;
    font-size: 23px ;
    color: #110C6C;
    max-width: 400px;
}

form button{
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: large;
    background-color: #333;
    color:white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: blue;
}

footer{
    background-color: #333;
    color:white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}